/* Enter your custom styles here */
.placeholderFont .sapMInputBaseInner::placeholder {
    font-style: normal !important;
    color: #D3D3D3;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}